<div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> Data Table Example</div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>id</th>
                  <th>Title</th>
                  <th>PostStatus</th>
                  <th>Allow Comment</th>
                  <th>Edit</th>
                    <th>Delete</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>id</th>
                  <th>Title</th>
                  <th>PostStatus</th>
                  <th>Allow Comment</th>
                   <th>Edit</th>
                    <th>Delete</th>
                </tr>
                </tr>
              </tfoot>
              <tbody>
                {{#each posts}}
                <tr>
                  <td>{{this._id}}</td>
                  <td>{{this.title}}</td>
                   <td>{{this.poststatus}}</td>
                    <td>{{this.allow}}</td>
                 <td><a class="btn btn-info" href="editposts/{{this._id}}">Edit</a></td>
                <form action="/admin/deletepost/{{this._id}}" method="post">
               <td><button class="btn btn-info" type="submit">Delete</button></td>
              </form>

                </tr>
              {{/each}}
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
      </div>